{% extends 'back-officenewprog.html.twig' %}

{% block title %}Nouvelle Facture{% endblock %}

{% block body %}
    <h1>Ajouter Facture</h1>

    {{ include('facture/_form.html.twig') }}

    <a href="{{ path('facture_index') }}">Retour </a>
{% endblock %}
