{% extends "User/login.html.twig" %}
{% block title %}<title>Nouveau mot de passe</title>{% endblock %}

{% block body %}
<h1>Réinitialisation du mot de passe</h1>
<p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
<form method="post">
    <div class="form-group">
            <label for="inputPassword">Nouveau mot de pass</label>
            <input class="form-control p_input" type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
            <input class="form-control p_input" type="hidden" name="token" value="{{ token }}">
    </div>


        <div class="text-center w-auto">
            <button class="btn btn-primary btn-block enter-btn" type="submit" id="valider">
                Valider le mot de passe
            </button>
        </div>


</form>
{% endblock %}